$codeColor: #272822;
$codeFontColor: #f8f8f2;

.blog__body{

  code{
    color: $codeFontColor;
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: $codeColor;
    border-radius: 3px;
  }

  pre{
    code{
      background-color: none;
    }
  }

  p{
    line-height: 1.5em;
  }
}